#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
#*.patch
*.lz4
*.gcno
#*.tar
*.zip
*.log
*.rej
*.orig
*zImage
*zImage-dtb
*boot.img
*ramdisk
*Image
vmlinux.lds
vmlinux
initramfs_data.cpio
gen_init_cpio
mk_elfconfig
modpost
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
scripts/dtbTool
scripts/basic/fixdep
scripts/conmakehash
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/genksyms/genksyms
scripts/genksyms/keywords.hash.c
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/sortextable
scripts/mod/devicetable-offsets.h
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
arch/arm/boot/msm8974pro*
arch/arm/boot/dts/*.dtb
arch/arm/boot/dts/*.reverse.dts
dt.img
arch/arm/boot/compressed/piggy.gzip
kernel/config_data.h
scripts/recordmcount
kernel/usr/*
kernel/hz.bc
Package/*

firmware/epen/W9012_tr.bin.gen.S
firmware/epen/W9012_tr_239.bin.gen.S
firmware/tsp_stm/stm_tr.fw.gen.S
firmware/tsp_stm/stm_tr.fw
firmware/tsp_synaptics/*.S
firmware/tsp_synaptics/*.o
firmware/tsp_synaptics/*.fw
firmware/av7110/*.S
firmware/av7110/*.o
firmware/ice40xx/*.S
firmware/ice40xx/*.o
firmware/ice40xx/*.fw
firmware/keyspan_pda/*.S
firmware/keyspan_pda/*.o
firmware/tkey/*.S
firmware/tkey/*.o
firmware/tkey/*.fw
firmware/*.S
firmware/*.o
firmware/*.fw

arch/arm/crypto/sha256-armv4.pl
arch/blackfin/boot/install.sh
arch/ia64/install.sh
arch/ia64/scripts/unwcheck.py
arch/m32r/boot/compressed/install.sh
arch/m68k/install.sh
arch/mn10300/boot/install.sh
arch/parisc/install.sh
arch/powerpc/boot/install.sh
arch/powerpc/kernel/prom_init_check.sh
arch/powerpc/kernel/systbl_chk.sh
arch/s390/boot/install.sh
arch/sh/boot/compressed/install.sh

arch/arm/include/generated*

arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/hyp-stub.S
firmware/tsp_melfas/CORE.fw
firmware/tsp_melfas/CORE.fw.gen.S
firmware/tsp_melfas/PRIV.fw
firmware/tsp_melfas/PRIV.fw.gen.S
firmware/tsp_melfas/PUBL.fw
firmware/tsp_melfas/PUBL.fw.gen.S
scripts/bin2c
scripts/kconfig/zconf.lex.c
security/selinux/av_permissions.h
security/selinux/flask.h
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.mailmap

#
# Generated include files
#
include/asm
include/asm-arm
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h
include/linux/bounds.h
include/generated

# stgit generated dirs
patches-*
arch/*/include/generated

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# files for XZ compression
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/piggy.xzkern

*/*.fw
*.orig
*~
\#*#
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/piggy.xzkern
arch/arm/boot/zImage

#arch/arm/configs/apq8084_plc_defconfig
arch/arm/configs/apq8084_plc_trlte_eur_defconfig
arch/arm/configs/apq8084_placiano_defconfig
arch/arm/configs/apq8084_emotion_defconfig
arch/arm/configs/apq8084_nate_defconfig
#arch/arm/configs/apq8084_sec_userdebug_defconfig
bbuild.sh
!boot.img-ramdisk.gz
ramdisk.img
compile.log
construir_kernel.sh
rehacer_kernel.sh
repack.sh
/releasetools
/tmp
clean.sh
buildkernel.sh
/repack
mkbootfs
.gitignore
/patches
*.rej
*.config
*.dtb
*/zImage*
*/zImage
*/*.img
*/*.zip

0
out
output
!/ramdisk_emotion/fs/res/synapse/actions/output

boot.img
recovery.img
